* {
  padding: 0;
  margin: 0;
}

body {
  background-color: hsl(210, 46%, 95%);
  font-family: "Manrope", sans-serif;
}

.container .content-main {
  display: flex;
  place-content: center;
  margin: 200px;
}

.container .content-main .card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "image content" "image info";
  background-color: #ffffff;
}

.card {
  width: 850px;
}

.container .content-main .card .image img {
  max-width: 400px;
}

.container .content-main .card .content {
  grid-area: content;
  width: 400px;
  padding: 10px 20px 20px;
  color: hsl(217, 19%, 35%);
}

.container .content-main .card .content p {
  padding-top: 20px;
}

.container .content-main .card .info {
  grid-area: info;
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  grid-template-areas: " img h5" " img h6 ";
  padding-top: 30px;
}

.container .content-main .card .info h5 {
  grid-area: h5;
  font-weight: 900;
  font-size: 1em;
}
.container .content-main .card .info h6 {
  grid-area: h6;
  color: hsl(212, 23%, 69%);
  font-weight: 900;
  font-size: 1em;
}

.container .content-main .card .info .share-icon {
  grid: share;
  position: relative;
  transition: all 2s;
}

.container .content-main .card .info .share-icon h2 {
  color: hsl(210, 46%, 95%);
  letter-spacing: 2px;
  padding: 5px;
}

.container .content-main .card .info .share-icon img {
  cursor: pointer;
  width: 30px;
}

.container .content-main .card .info img {
  grid-area: img;
  border-radius: 50%;
  max-width: 30px;
}

.card-icon {
  margin: -50px;
  border-radius: 5px;
  background-color: hsl(214, 17%, 51%);
  display: flex;
  gap: 20px;
  position: absolute;
}

.card-icon img {
  max-width: 10px;
  padding: 5px;
}

.info .share-icon.active {
  overflow: hidden;
  transition: all 2s;
}

@media (max-width: 500px) {
  .container .content-main .card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "image" "content" "info";
  }

  .container .content-main .image {
    grid-area: image;
  }

  .container .content-main .card .image img {
    max-width: 400px;
  }
  .container .content-main .content h2,
  p {
    grid-area: content;
    padding-left: 20px;
  }

  .container .content-main .info {
    grid-area: info;
    padding-left: 20px;
  }

  .container .content-main .card .info .share-icon .card-icon {
    margin-left: -200px;
  }
}

@media (max-width: 768px) {
  .container .content-main .card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "image" "content" "info";
    justify-content: center;
    align-items: center;
  }

  .container .content-main .card .image img {
    max-width: 450px;
  }

  .container .content-main .card .info .share-icon .card-icon {
    margin-left: -200px;
  }
}
